.container {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 50px 0 50px 0;

}
.numberButton {
    margin: 0 10px 0 10px;
    width: 25px;
    height: 25px;
    background-color: rgb(62, 200, 115);
    color: white;
    border:none;
    border-radius: 50%;
    text-align: center;
    padding: 0px;
}

.numberActive {
    margin: 0 10px 0 10px;
    width: 25px;
    height: 25px;
    background-color:rgb(87, 62, 200);
    color: white;
    border:none;
    border-radius: 50%;
    text-align: center;
    padding: 0px;
}

/* .numberButton:hover {
    background-color: rgb(87, 62, 200);  
} */

/* .numberButton:focus {
    background-color: rgb(87, 62, 200);  
} */

.arrowButton {
    margin: 0 10px 0 10px;
    width: 25px;
    height: 25px;
    background-color: rgb(62, 200, 115);
    color: white;
    border:none;
    border-radius: 50%;
    text-align: center;
    padding: 0px;
}

.arrowButton:hover {
    background-color: rgb(87, 62, 200);  
}