.container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../../images/dogsWallpaper.jpg);
}

.container form {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    width: 700px;
    height: 800px;
    border-radius: 12px 12px 0 0;
    background-color: rgba(246, 246, 246);
    margin-top: 30px;
}

.form label {
    color:blanchedalmond;
}

.container form input {
    margin-bottom: 30px;
    width: auto;
    height: 20px;
}

.container form select {
    width: 150px;
    height: 60px;
    border: none;
    background-color: rgb(243, 243, 243);
    outline: none;
    text-align: center;
    margin-bottom: 30px;
}

.container form button {
    width: 150px;
    height: 60px;
    border: none;
    border-radius: 8px 8px 8px 8px;
    background-color: rgb(86, 207, 86);
    color: white;
}

.lnk {
    display:flex;
    justify-self: flex-end;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 50px;
    border-radius: 0 0 6px 6px;
    background-color: rgb(79, 79, 205);
    color: white;
}

.lnk a {
    text-decoration: none;
    color: white;
}

.lnk a:active {
    text-decoration: none;
    color: white;
}

.lnk a:hover {
    text-decoration: none;
    color: white;
}

