.container {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    height: 50px;
    margin: 0px;
    padding: 10px;
    background-color: rgb(43, 43, 43);
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    gap: 25px;
}

.container button {
    width: 150px;
    height: 32px;
    border: none;
    border-radius: 0px 0px 0px 0px;
    background-color: rgb(86, 207, 86);
    color: white;
}

.container button:hover {
    background-color: rgb(79, 79, 205);
    color: white;
}